@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #2356FF;
    --secondary-color: #7657FF;
    --light-secondary-color: #8DA7FC;
    --gray-bg-color: #F9F9F9;
    --gray-border-color: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F2F5FF, #E8E2FF);
}

/* START THE CODE BELOW */

.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.title__icon{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    fill: white;
    min-width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px var(--light-secondary-color);
}

.title__text{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.btn{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    outline: 3px solid transparent;
    transition: 150ms ease;
}

.form-and-image{
    display: flex;
    margin-top: 24px;
    gap: 32px;
}

/* IMAGE CONTAINER */
.image-container{
    border: 1px solid green;
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 1px var(--gray-border-color) solid;
    background-color: var(--gray-bg-color);
    position: relative;
}

.image-container:hover .image-container__image-result{
    transform: scale(1.1);
    transition: 300ms ease-in;
}

.image-container:hover .image-container__layer{
    opacity: 1;
    transition: 300ms ease-in;
}

.image-container:hover .image-container__edit-button{
    opacity: 1;
    transition: 300ms ease-in;
    bottom: 12px;
}

.image-container__image-result{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container__layer{ 
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.image-container__edit-button{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    fill: white;
    cursor: pointer;
}

.image-container__no-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 8px;
    /* background: var(--gray-bg-color);
    color: var(--gray-text-color); */
    font-size: 20px;
    font-weight: 600;
    display: none;
}
 
.image-container__no-image-text{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.image-container.no-image{
    box-shadow: none;
    border: 1px var(--gray-border-color) solid;
    background: white;
}

.image-container.no-image .image-container__no-image{
    display: flex;
}

.image-container.no-image .image-container__image-result{
    display: none;
}

.image-container.no-image .image-container__layer{
    display: none;
}

.image-container.no-image .image-container__edit-button{
    display: none;
}

/* FORM CONTAINER */
.form-container{
    /* border: 1px solid blue; */
    width: 100%;
}

.form-container__prompt-input{
    width: 100%;
    padding: 8px 10px;
    border: 1.5px solid var(--gray-border-color);
    border-radius: 8px;
    resize: none;
    background: var(--gray-bg-color);
    outline: solid 3px transparent;
    transition: 150ms ease-in;
}

.form-container__prompt-input:focus{
    outline: 3px solid var(--light-secondary-color);
}

.image-container__image-tags{
    /* border: 1px solid green; */
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.image-tags__tag{
    padding: 4px 6px;
    border-radius: 8px;
    border: 1.5px solid var(--gray-border-color);
    background: var(--gray-bg-color);
    cursor: pointer;
}

.form-container__dropdown-group{
    /* border: 1px solid green; */
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
}

.form-container__dropdown{
    padding: 8px 10px;
    outline: 3px solid transparent;
    border: 2px solid var(--gray-border-color);
    border-radius: 8px;
    background: var(--gray-bg-color);
    outline: solid 3px transparent;
    transition: 150ms ease-in;
}

.form-container__dropdown:focus{
    outline: 3px solid var(--light-secondary-color);
}

.form-container__button{
    margin-top: 16px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: 3px solid transparent;
    transition: 150ms ease;
}

.form-container__button:focus{
    outline: 3px solid var(--light-secondary-color);
}

.form-container__button:hover{
    box-shadow: 2px 4px 20px var(--light-secondary-color);
}

.modal{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(3px);
}

.modal__content{
    position: relative;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: min(400px, 90%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* align-items: center; */
}

.form-group{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 2fr;
}

.custom-input{
    width: 100%;
}

.custom-input input,
.custom-input select{
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1d1d1d;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.tags{
    position: relative;
}

.image-tags {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
  display: grid;
  text-align: left;
}

.image-tags li {
  padding: 8px;
  cursor: pointer;
}

.image-tags li:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none !important;
}

.modal__actions{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.file-uploader {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}

.file-uploader .uploader-header {
  display: flex;
  padding: 20px;
  background: #EEF1FB;
  align-items: center;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}

.uploader-header .uploader-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.uploader-header .file-completed-status {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
.file-uploader .file-list {
  list-style: none;
  width: 100%;
  padding-bottom: 10px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-color: #999 transparent;
  scrollbar-width: thin;
}
.file-uploader .file-list:has(li) {
  padding: 20px;
}
.file-list .file-item {
  display: flex;
  gap: 14px;
  margin-bottom: 22px;
}
.file-list .file-item:last-child {
  margin-bottom: 0px;
}
.file-list .file-item .file-extension {
  height: 50px;
  width: 50px;
  color: #fff;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #5145BA;
}
.file-list .file-item .file-content-wrapper {
  flex: 1;
}
.file-list .file-item .file-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.file-list .file-item .file-name {
  font-size: 1rem;
  font-weight: 600;
}
.file-list .file-item .file-info {
  display: flex;
  gap: 5px;
}
.file-list .file-item .file-info small {
  color: #5c5c5c;
  margin-top: 5px;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}
.file-list .file-item .file-info .file-status {
  color: #5145BA;
}
.file-list .file-item .cancel-button {
  align-self: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 1.4rem;
}
.file-list .file-item .cancel-button:hover {
  color: #E3413F;
}
.file-list .file-item .file-progress-bar {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  border-radius: 30px;
  background: #d9d9d9;
}
.file-list .file-item .file-progress-bar .file-progress {
  width: 0%;
  height: inherit;
  border-radius: inherit;
  background: #5145BA;
}
.file-uploader .file-upload-box {
  margin: 10px 20px 20px;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #B1ADD4;
  transition: all 0.2s ease;
}
.file-uploader .file-upload-box.active {
  border: 2px solid #5145BA;
  background: #F3F6FF;
}
.file-uploader .file-upload-box .box-title {
  font-size: 1.05rem;
  font-weight: 500;
  color: #626161;
}
.file-uploader .file-upload-box.active .box-title {
  pointer-events: none;
}
.file-upload-box .box-title .file-browse-button {
  color: #5145BA;
  cursor: pointer;
}
.file-upload-box .box-title .file-browse-button:hover {
 text-decoration: underline;
}

.tag-modal{
    display: none;
}

.tag-modal.show{
    display: flex;
} 

.upload-modal{
    display: none;
}

.upload-modal.show{
    display: flex;
}

@media screen and (max-width: 320px) {
    .title__text{
        display: none;
    }

    .form-and-image{
        flex-direction: column;
    }

    .image-container{
        width: 100%;
    }
}

@media screen and (max-width: 567px) {
    .form-and-image{
        flex-direction: column;
    }

    .image-container{
        width: 100%;
    }
}